{% extends 'app/base.html' %}
{% block body %}
    <section class="breadcrumb_area blog_banner_two">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle f_48">ABOUT US</h2>
            </div>
        </div>
    </section>

    {% include 'app/sections/about-us.html' %}

    <section class="sample-text-area">
        <div class="container">
            <h3 class="text-heading title_color">KAMI</h3>
            <p class="sample-text">
                Siapa pun Anda, apa pun yang Anda cari, kami memiliki tempat yang tepat untuk Anda. 29.040.915 volume terbitan kami mencakup 6.267.631 rumah, apartemen, dan tempat unik lainnya untuk menginap dan terletak di 155.177 tujuan wisata di 227 negara dan wilayah. Booking.com B.V. Terletak di Amsterdam, Belanda dan didukung secara internasional oleh 198 kantor di 70 negara.

            </p>
        </div>
    </section>

{% endblock %}