<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Arumstay's Admin</div>
    <div class="list-group list-group-flush">
        <a href="{{ url_for('admin') }}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="{{ url_for('a_room') }}" class="list-group-item list-group-item-action bg-light">Rooms</a>
        <a href="{{ url_for('a_reservation') }}" class="list-group-item list-group-item-action bg-light">Reservasi</a>
        <a href="{{ url_for('a_users') }}" class="list-group-item list-group-item-action bg-light">Pengguna</a>
    </div>
</div>
