<form action="{{ url_for('update_reservation) }}" method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <div class="book_tabel_item">
                            <div class="form-group">
                                <div class='input-group date'>
                                    <div class="input-group">
                                        <select class="wide" name="status">
                                            <option data-display="semua" value="Konfirmasi">Konfirmasi</option>
                                            <option value="Booking">Booking</option>
                                            <option value="Leave">Leave</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
