<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Feedback</h2>
        </div>
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ url_for('static', filename='image/pic1.png') }}" alt="">
                <div class="media-body">
                    <p>"Everything was AMAZING.
                        If you are able to stay here
                        go do it!One of the best
                        experiences of my life!""</p>
                    <a href="#"><h4 class="sec_h4">Benedict Betadine</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ url_for('static', filename='image/pic2.png') }}" alt="">
                <div class="media-body">
                    <p>"It was amazing
                        holiday in this hotel!There
                        wasascenic sea view and
                        service.Especially I'd like to
                        say thank you Dilini for the
                        incredible cleaning!
                        Unlimited water was really
                        useful in so hot wather."</p>
                    <a href="#"><h4 class="sec_h4">Steven Justin</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ url_for('static', filename='image/pic3.png') }}" alt="">
                <div class="media-body">
                    <p>"comfortable,clean rooms.
                        Good location.Breakfast
                        was excellent"</p>
                    <a href="#"><h4 class="sec_h4">Amora Amori</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ url_for('static', filename='image/pic4.png') }}" alt="">
                <div class="media-body">
                    <p>"very trendy and vibey hotel with
                        exceptional staff who were
                        always on hand to help with
                        restaurant bookings,taxis
                        and recommendations.A
                        truly exceptional
                        experience,well done team
                        Trunk!"</p>
                    <a href="#"><h4 class="sec_h4">Kevin Albert</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
